$hex-black: #000000;
$hex-white: #ffffff;
$hex-brown: #b53c00;
$hex-cream: #fff2eb;
$hex-green: #15ae49;
$hex-red: #bd241e;
$hex-gray: #bdbdbd;

$hex-primary: $hex-brown;
$hex-secondary: $hex-black;
$hex-tertiary: $hex-white;

$hex-background: $hex-cream;
