.papelitoRound {
  @include flex(row, space-between);
  @include margin($sp-xs x);
  width: 60%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'player start total';

  .playerPapelitos {
    grid-area: player;
  }

  .startRound {
    grid-area: start;
  }

  .totalPapelitos {
    grid-area: total;
    justify-self: right;
  }
}

.papelitoCount {
  @include flex(row, flex-start, center);

  .count {
    @include flex(row, center, center);
    @include size(40px);

    background-color: $hex-primary;
    border-radius: 100%;
    color: $hex-tertiary;
    font-weight: bold;
    margin-right: $sp-xxs;

    &.neutral {
      background-color: $hex-secondary;
    }
  }
}

.startRound {
  @include button;
}
